# --- Custom Pyrogram (Dev Branch) --- #
git+https://github.com/KurimuzonAkuma/pyrogram@dev

# --- For-Bot-Working --------- #
fastapi>=0.95.0
uvicorn>=0.21.0
TgCrypto
pyromod==1.5
python-dotenv

# --- For-Database ------------ #
pymongo
dnspython

# --- For-Web-Response ------- #
aiohttp
asyncio

# --- For-System-Stats ------ #
psutil
