https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
# --- For-Bot-Working --------- #
pyrogram>=2.0.0
fastapi>=0.95.0
uvicorn>=0.21.0
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
asyncio
# --- For-System-Stats ------- #
psutil

